*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    font-size: 62.5%;
    --bg: rgb(41, 40, 40);
    --highlight: yellow;
    --light-font: #fff
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    min-height: 100vh;
    background-color: var(--bg);
}

main{
    padding: 3rem 3rem;
}

h2.title2{
    color: var(--light-font);
    margin: 2rem 0;
}

/* Dados */

.dados{
    margin-top: 2rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    color: rgb(248, 248, 248);
    gap: 1rem;
    border-radius: 12px;
}

/* Lembrete */

.lembrete,
.observacoes,
.dados{
    background-color: #0d0e0d75;
    color: #e0e0e0;
    padding: 2rem;
    border-radius: 12px;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.144);
}

.observacoes p{
    font-size: 1.4rem;
}

.lembrete ul{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 2rem;
    
}

/* Lista de Aulas */

.title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.data{
    background-color: #c5c4c4;
    padding: .25rem 2rem;
    border-radius: 6px;
}


ul#lista-aulas{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 6rem 0;
}

.aula{
    background-color: #0d0e0d75;
    color: #e0e0e0;
    padding: 1rem 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.144);
}

.aula .status{
    padding: .14rem 1.4rem;
    background-color: #c5c4c4;
    color: #0d0e0d;
    border-radius: 6px;
}

.aula .wrapper{
    display: flex;
    gap: 2rem;
}

.aula.checked{
    background-color: #0d0e0d75;
}

.aula.checked .status{
    background-color: #75c082;
}

/* statistics */

.statistics{
    min-height: 30vh;
    /* background-color: var(--highlight); */
}

.progress-bar{
    min-height: 1rem;
    background-color: #ffffff5b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.progress{
    min-height: 1rem;
    width: 0%;
    background-color: #75c082;
    transition: all .23s ease-in-out;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Congratulations */
.congratulations.hidden{
    display: none;
}

.congratulations{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#confetes{
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;

}

footer{
    background-color: #0d0e0d;
    padding: 1rem;
    text-align: center;
    color: #c5c4c4;
    font-size: 1.4rem;
}